.fill {
  min-height: 100%;
  height: 100%;
}

.height-60 {
  height: 60%;
}

.mt-10 {
  margin-top: 10px;
}

body {
  background-color: #2E2F30;
}

#code-result {
  margin-top: 50px;
  min-height: 200px;
  padding: 20px;
  background-color: #999899;
}

.drawer {
  position: absolute;
  display: block;
  z-index: 5;
  transition: transform .3s;
  background-color: #374c5d;
}

#settings-drawer {
  transform: translate(-100%);
  box-shadow: 4px 0px 15px 2px rgba(18,112,6,0.73);
}

#file-drawer {
  right: 0;
  transform: translate(100%);
  box-shadow: -4px 0px 15px 2px rgba(227,98,12,1);
}

.drawer-button {
  position: absolute;
  margin-top: 10px;
  font-size: 3.5em;
  border-radius: 100px;
  z-index: 6;
  background-color: transparent;
  color: #F7F7F7;
  border: none;
}

#settings-drawer-button {
  left: 10px;
}

#file-drawer-button {
  float: right;
  right: 10px;
}

.settings-drawer-content {
  margin-top: 6em;
  text-align: center;
}

.file-drawer-content {
  margin-top: 3em;
  text-align: center;
}

#checkbox-settings {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 2em;
  color: #229922;
}

.settings-switch {
  float: right;
  display: inline;
  margin-right: 0px;
}

#notification {
  position: relative;
  left: 0;
  right: 0;
  top: 0em;
  z-index: 7;
  background-color: #730E15;
  color: #FFF;
  padding: 0.6em 0;
  text-align: center;
  box-shadow: 0 -0.1em 2em -1em #000 inset;
}

#signup-form {
  color: #999999;
  display: none;
}

#signin-form {
  color: #999999;
}

.access-button {
  margin-top: 10px;
}




