.fill {
  min-height: 100%;
  height: 100%;
  margin-bottom: 0;
}

.height-60 {
  height: 60%;
}

.height-50 {
  height: 50%;
}

.mt-10 {
  margin-top: 10px;
}

body {
  background-color: #2E2F30;
  overflow-x: hidden;
}

#code-result {
  margin-top: 50px;
  min-height: 200px;
  padding: 20px;
  background-color: #999899;
}

.drawer {
  padding: 0px;
  position: absolute;
  display: block;
  z-index: 5;
  transition: transform .3s;
  background-color: #374c5d;
  overflow: auto;
}

#settings-drawer {
  transform: translate(-100%);
  box-shadow: 4px 0px 15px 2px rgba(18,112,6,0.73);
}

#file-drawer {
  right: 0;
  transform: translate(100%);
  box-shadow: -4px 0px 15px 2px rgb(130, 45, 0);
}

.drawer-button {
  position: fixed;
  margin-top: 10px;
  font-size: 3.5em;
  border-radius: 100px;
  z-index: 6;
  background-color: transparent;
  color: #F7F7F7;
  border: none;
}

#settings-drawer-button {
  left: 10px;
}

#file-drawer-button {
  float: right;
  right: 10px;
}

.settings-drawer-content {
  margin-top: 6em;
  text-align: center;
}

.file-drawer-content {
  margin-top: 3em;
  margin: 0px;
  text-align: center;
}

#checkbox-settings {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 5%;
  font-size: 2em;
  color: #229922;
}

.settings-switch {
  float: right;
  display: inline;
  margin-right: 0px;
}

#notification {
  position: relative;
  left: 0;
  right: 0;
  top: 0em;
  z-index: 7;
  background-color: #730E15;
  color: #FFF;
  padding: 0.6em 0;
  text-align: center;
  box-shadow: 0 -0.1em 2em -1em #000 inset;
}

#signup-form {
  color: #999999;
  display: none;
}

#signin-form {
  color: #999999;
}

.access-button {
  margin-top: 10px;
  margin-left: 10px;
}

#document-title {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  min-height: 100px;
}

#popup-shadow {
  z-index: 9;
  opacity: 0.4;
  background-color: #000000;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  display: none;
}

#save-document-popup {
  display: none;
  border-radius: 8px;
  position: fixed;
  top: 30%;
  height: 22%;
  z-index: 10;
  text-align: center;
  background-color: #374c5d;
}

#save-document-popup > label {
  margin-top: 5%;
  font-size: 1.5em;
  color: #999999;
}

#save-document-popup > input {
  margin-top: 5%;
}

#save-document-popup > button {
  margin-top: 5%;
}

.file {
  color: #999999;
  border: 2px solid #822D00;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.file-highlight {
  font-size: 1.2em;
  border: 3px solid #730E15;
}
