<div class="container fill vert-offset-top-2">
    <div class="jumbotron fill" style="background-color: floralwhite">
        <div class="row height-60">
            <textarea class="col-md-10 col-md-offset-1"></textarea>
        </div>
        <div class="row mt-10">
            <div class="col-md-1 col-md-offset-10">
              <button type="button" class="btn btn-success fill">
                <span class="glyphicon glyphicon-play"></span> Run
              </button>
            </div>
        </div>
    </div>
</div>