<button id="settings-drawer-button">
  <span class="fa fa-cog"></span>
</button>
<nav class="col-md-3 fill" id="settings-drawer">
  <ul id="checkbox-settings">
  <hr>
    <li>
      Tab size
      <div class="settings-switch">
        <input type="checkbox" name="switch" /><br />
      </div>
    </li>
    <li>
      Auto indentation
      <div class="settings-switch">
        <input type="checkbox" name="switch" /><br />
      </div>
    </li>
    <li>
      Editor theme
      <div class="settings-switch">
        <input type="checkbox" name="switch" /><br />
      </div>
    </li>
  </ul>
</nav>


<div class="container fill vert-offset-top-2">
  <div class="jumbotron fill" style="background-color: floralwhite">
    <div class="row height-60 col-md-10 col-md-offset-1">
      <textarea id="code-editor"></textarea>
    </div>
    <div class="row mt-10">
      <div class="col-md-2 col-md-offset-10">
        <button type="button" class="btn btn-success fill" id="run-code">
          <span class="glyphicon glyphicon-play"></span> Run
        </button>
      </div>
    </div>
    <div class="row height-60">
      <label class="col-md-10 col-md-offset-1" id="code-result">
      </label>
    </div>
  </div>
</div>